input {
  border-bottom: none !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  &:focus {
    border-bottom: 1px solid $color-primary !important;
  }
}



textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}